/** @format */

.root {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 80px;
}

.setImage {
  width: 12%;
  height: auto;
}

.title {
  flex-grow: 1;
}

@media only screen and (max-width: 770px) {
  .root {
    width: 100%;
  }
  .setImage {
    width: 40%;
    height: auto;
  }
}
